<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
        <add name="Log" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=JobLogger;uid=root;password=Pa$$w0rd" />
    </connectionStrings>
    <appSettings>
        <add key="LogFileDirectory" value="." />
        <add key="LogFileName" value="logger.log" />
    </appSettings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
</configuration>
